.git
.github
.pytest_cache
.pytest-tmp
.pytest-tmp*
.pytest-*
pytest-tmp
pytest-cache-files-*
.ruff_cache
.venv
__pycache__
*.pyc
data/inputs/*
data/outputs/*
data/tmp/*
models/
models/**
*.md
.env*
.vscode
.idea
backend/
